@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
div
{
    border: 1px solid black;
    width:25%;
    height: 400px;
    float: left;
    text-align: center;
    padding: 1%;
    margin:10px;
    font-family: 'Nerko One', cursive;
}
img
{
    width:80%;
    height: 60%;
}
h1
{
    font-size: xx-large;
    text-align: center;
    background-color: aquamarine;
}
.first
{
    margin-left: 10%;
}