body
{
    background-color: #f9db0a;
}
#Head
{
    color: rgb(251, 251, 245);
    background-color: rgb(14, 14, 14);

    text-align: center;
}
.boxes
{
    height: 550px;
    width: 18%;
    border: 1px black solid;
    position: relative;
    top: 20px;
    float: left;
    margin-left: 5%;
    background-color: #1c3c63;
    color: #ffffff;
}
.rating
{
    height:20px;
    width:80%;
    border: 1px black solid;
    position: absolute;
    left: 10%;
    box-shadow: 3px 2px #888888;
    background-color: #ffffff;
    color:#1c3c63;
}
img
{
    width: 100%;
    height: 40%;
}
.Caption
{
    text-align: center;
    font-weight: bolder;
}